<h1>House info</h1>
<hr />

<span>Size:</span>
<span><%= @house.size %></span>

<span>Year Built:</span>
<span><%= @house.year_built %></span>

<span>Bed:</span>
<span><%= @house.bed %></span>

<span>Bath:</span>
<span><%= @house.bath %></span>

<div>

	<%= link_to 'Edit', edit_seller_house_path(@seller, @house), class: 'btn btn-default' %>
	<%= link_to 'Delete', seller_house_path(@seller, @house), method: :delete, data: { confirm: 'Really Delete?'}, class: 'btn btn-default'%>
	<%= link_to 'All Houses', seller_houses_path, class: 'btn btn-default' %>

	<%= link_to 'Address', seller_house_addresses_path(@seller, @house, @address), class: 'btn btn-default' %>
</div>