<h1><%= @seller.name %></h1>
<hr />

<p>Info: <%= @seller.info %> </p>
<p>Rating: <%= @seller.rating %> </p>

<%= link_to 'Houses for sale', seller_houses_path(@seller) %>

<hr />

<%= link_to 'Edit', edit_seller_path(@seller), class: 'btn btn-default' %>
<%= link_to 'Delete', seller_path(@seller), method: :delete, data: { confirm: 'Really Delete?'}, class: 'btn btn-default'%>
<%= link_to 'All Sellers', sellers_path, class: 'btn btn-default'%>
