<h1>Address</h1>
<hr />

<span>Street:</span>
<span><%= @address.street %></span>

<span>Country:</span>
<span><%= @address.country %></span>

<span>State:</span>
<span><%= @address.state %></span>

<span>Zip code:</span>
<span><%= @address.zip %></span>

<div>
	<%= link_to 'Edit', edit_seller_house_address_path(@seller, @house, @address), class: 'btn btn-default' %>
	<%= link_to 'Back', seller_house_addresses_path, class: 'btn btn-default' %>
</div>